      <footer class="footer">
        <div class="container">
          <div class="footer__wrapper">
            <a class="footer__logo" href="/">
              <img src="img/logo-white.svg" alt="Вело Юг"></a>
            <div class="footer__content"> 
              <div class="footer__col">
                <h3 class="footer__title">Каталог</h3>
                <a class="footer__link" href="/index.php?route=product/category&path=59_63">Велосипед детский</a>
                <a class="footer__link" href="/index.php?route=product/category&path=59_62">Велосипед взрослый</a>
                <a class="footer__link" href="/index.php?route=product/category&path=60">Самокат</a>
              </div>
              <div class="footer__col">
                <h3 class="footer__title">Каталог</h3>
                <a class="footer__link" href="/index.php?route=information/instruction">Видео по сборке</a>
                <a class="footer__link" href="/index.php?route=information/markets">Где купить</a>
                <a class="footer__link" href="/index.php?route=information/model">Технологии</a>{% for information in informations %}<a class="footer__link" href="{{ information.href }}">{{ information.title }}</a>{% endfor %}
              </div>
              <div class="footer__col">
                <h3 class="footer__title">Дилерам</h3>
                <a class="footer__link" href="/index.php?route=information/dilers">Написать нам</a>
              </div>
              <div class="footer__col">
                <h3 class="footer__title">Связаться с нами</h3>
                <a class="footer__link" href="">+7 (918) 599-96-21</a>
                <a class="footer__link" href="">igrushki.veloopt2@toysbag.ru</a>
              </div>
              <div class="footer__col">
                <h3 class="footer__title">Наш адрес</h3>
                <span class="footer__text">Ростов-на-Дону</span>
                <span class="footer__text">ул. Днепропетровская  83</span>
              </div>
            </div>
          </div>
          <div class="mobile-actions"> 
            <a href="/">
              <svg width="28" height="26">
                <use href="#main-mobile-icn"></use>
              </svg>
            </a>
            <a href="/index.php?route=product/search">
              <svg width="25" height="23">
                <use href="#search-mobile-icn"></use>
              </svg>
            </a>
            <a href="/index.php?route=checkout/cart">
              <svg width="27" height="26">
                <use href="#basket-mobile-icn"> </use>
              </svg>
            </a>
            <a href="/index.php?route=account/login">
              <svg width="22" height="27">
                <use href="#lk-mobile-icn"> </use>
              </svg>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>