{{ header }}
<main>
        <div class="main-block"> 
          <div class="main-block__wrapper _container"> 
            <div class="main-block__content">
              <h1 class="visually-hidden">Вело юг</h1>
              <h2 class="main-block__title"> <span>Свобода движения, </span><span>радость открытий!</span></h2>
              <div class="main-block__descr">Большой выбор велосипедов от Вело Юг </div><a class="btn-default main-block__btn" href="/index.php?route=product/category&amp;path=59">Перейти в каталог</a>
            </div>
          </div>
        </div>
{{ content_top }}{{ content_bottom }}
{{ footer }}