
	{% for total in totals %} 

		<div class="order__total-content"> 
                <div class="order__total-row"> <span>{{ total.title }}:</span><span>{{ total.text }}</span></div>
                <div class="order__total-row"> <span>{{ total.title }}:</span><span>{{ total.text }}</span></div>
              </div>
	{% endfor %} 
