{{ header }}
<main>
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs__list"> 
        <a class="breadcrumbs__link" href="/">Главная</a>
          <span>Видео сборки</span>
      </div>
    </div>
  </div>
  {{ content_bottom }}
</main>
{{ footer }}