{{ header }}
<main>
  <div class="breadcrumbs _container"> 
    <div class="breadcrumbs__list"> 
      <a class="breadcrumbs__link" href="/">Главная</a>
        <span>Где купить</span>
    </div>
  </div>
  <div class="markets _container">
    <h2 class="title markets__title">Где купить товары<br> компании Вело-Юг: </h2>
    <div class="markets__links">
      <a href=""><img src="img/ozon.png" alt="ссылка на ozon"></a>
      <a href=""> <img src="img/wb.png" alt="ссылка на wildberries"></a>
    </div>
    <h2 class="title markets__title">В нашем интернет-магазине</h2>
    <a class="btn-default" href="/index.php?route=product/category&path=59">Перейти в каталог</a>
  </div>
  <div class="location"> 
    <div class="location__wrapper _container">
      <div class="location__head">
        <h2 class="location__title title">Магазин:</h2>
        <div class="location__place">г.Ростов-на-дону, ул. Днепропетровская 83</div>
      </div>
    </div>
  </div>
</main>
<script src="js/mask.js"></script>
{{ footer }}