{{ header }}
{{ content_top }}

<main>
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs__list"> 
        <a class="breadcrumbs__link" href="/">Главная</a>
        <span>Где купить</span>
      </div>
    </div>
  </div>
  <section class="s-markets">
    <div class="container">
      <div class="markets">
        <h2 class="markets__title">Где купить товары компании Вело-Юг:</h2>
        <div class="markets__links">
          <a href="https://www.ozon.ru/seller/finest-store-166396/products/?miniapp=seller_166396" target="_blank"><img src="img/ozon.png" alt="ссылка на ozon"></a>
          <a href="https://www.wildberries.ru/brands/toysbag" target="_blank"> <img src="img/wb.png" alt="ссылка на wildberries"></a>
        </div>
        <p>В нашем интернет-магазине</p>
        <a class="btn-default" href="/index.php?route=product/category&path=59">Перейти в каталог</a>
      </div>
    </div>
  </section>
  <div class="location">
    <div class="container">
      <div class="location__wrapper">
        <div class="location__head mb-0">
          <span>Магазин:</span>
          <div class="location__city">г.Ростов-на-дону, ул. Днепропетровская 83</div>
        </div>
      </div>
    </div>
  </div>
  {{ content_bottom }}
</main>
<script src="js/mask.js"></script>
{{ footer }}