{{ header }}
<div class="model__wrapper _container"> <span class="model-back-text">техно <br> логии</span>
          <div class="model__pic"><img src="img/model.png" alt="">
            <div class="tooltip tooltip--1 pulse" data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы."></div>
            <div class="tooltip tooltip--2 pulse" data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы."> </div>
            <div class="tooltip tooltip--3 pulse" data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы."> </div>
            <div class="tooltip tooltip--4 pulse" data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы."> </div>
            <div class="tooltip tooltip--5 pulse" data-tippy-content="Трансмиссия Shimano обеспечивает удобный и точный выбор скоростей, придавая вашей поездке комфорт и удовольствие."></div>
            <div class="tooltip tooltip--6 pulse" data-tippy-content="Внутренняя проводка исключает возможность загрязнения и механических повреждений тросиков в процессе эксплуатации, обеспечивая бесперебойную работу и долгий срок службы."> </div>
          </div>
        </div>
      </div>
      <div class="model-charact _container"> 
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item1.png" alt=""><span class="model-charact__text">Блокировка передней вилки </span></div>
          <div class="model-charact__content">Система блокировки передней вилки наших велосипедов позволяет сделать вилку "жесткой", сокращая потери энергии и обеспечивая эффективное движения, особенно при восхождении.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item2.png" alt=""><span class="model-charact__text">Гидравлические тормоза</span></div>
          <div class="model-charact__content">Мы оснащаем наши велосипеды гидравлическими тормозами, обеспечивающими высокую эффективность и отличную модуляцию. Эта система надежна в любых погодных условиях и требует минимального обслуживания.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item3.png" alt=""><span class="model-charact__text">Технологии техноформинга</span></div>
          <div class="model-charact__content">Рама велосипеда изготовлена с использованием передовой технологии техноформинга из облегченной стали, позволяющей создавать трубы различных форм и переменных сечений. Эта технология основана на механическом воздействии на заготовку, что значительно снижает вес велосипеда и обеспечивает комфортное управление.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item4.png" alt=""><span class="model-charact__text">Широкие покрышки</span></div>
          <div class="model-charact__content">Наши велосипеды оснащены технологией широких покрышек, что обеспечивает дополнительное сцепление с дорогой, повышая устойчивость и контроль при катании по разнообразным покрытиям.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item5.png" alt=""><span class="model-charact__text">Специальная геометрия </span></div>
          <div class="model-charact__content">Некоторые модели велосипедов имеют специальную геометрию, учитывающую особенности подростков, женщин и детей, обеспечивая максимальный комфорт во время катания.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item6.png" alt=""><span class="model-charact__text">LED-освещение</span></div>
          <div class="model-charact__content"> В некоторых моделях велосипедов встроено энергоэффективное LED-освещение, обеспечивающее отличную видимость в темное время суток и улучшая безопасность велосипедиста на дороге.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item7.png" alt=""><span class="model-charact__text">Технология аэродинамики</span></div>
          <div class="model-charact__content">Некоторые модели велосипедов воплощают в себе принципы аэродинамичного дизайна, что снижает сопротивление воздуха и повышает эффективность передвижения на высоких скоростях.</div>
        </div>
        <div class="model-charact__item">
          <div class="model-charact__head"> <img src="img/model-charact/item8.png" alt=""><span class="model-charact__text">Высоколегированная сталь</span></div>
          <div class="model-charact__content">Некоторые из наших моделей велосипедов используют высокопрочную сталь, обеспечивая рамам высокую прочность и долговечность. Это идеальное решение для тех, кто ценит надежность и долгий срок службы.</div>
        </div>
      </div>
      <div class="goods">
        <div class="goods__wrapper _container"> 
          <h2 class="goods__title title">Горные велосипеды</h2>
          <div class="tab" id="tab1">
            <div class="goods__btns _container">
              <button class="goods__btns-item tab-btn tab-btn-active" data-target-id="0">Shift</button>
              <button class="goods__btns-item tab-btn" data-target-id="1">blackount</button>
              <button class="goods__btns-item tab-btn" data-target-id="2">flagman</button>
              <button class="goods__btns-item tab-btn" data-target-id="3">SCENERIDE</button>
              <button class="goods__btns-item tab-btn" data-target-id="4">pulse</button>
              <button class="goods__btns-item tab-btn" data-target-id="5">MATCH</button>
              <button class="goods__btns-item tab-btn" data-target-id="6">KMS</button>
            </div>
            <div class="tab-content">
              <div class="swiper swiper-goods tab-pane tab-pane-show" data-id="0">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="1">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="2">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="3">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="4">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="5">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper swiper-goods tab-pane" data-id="6">
                <div class="swiper-counter-wrap"> 
                  <div class="swiper-button-prev" id="prev">
                    <svg width="21" height="12">
                      <use href="#arrow-prev"></use>
                    </svg>
                  </div>
                  <div class="swiper-counter"><span class="counter__start">1</span> ... <span class="counter__length">0</span></div>
                  <div class="swiper-button-next" id="next">
                    <svg width="21" height="12">
                      <use href="#arrow-next"></use>
                    </svg>
                  </div>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="goods__item">
                      <div class="goods__content">
                        <div class="goods__brend"> <img src="img/brends/item3.png" alt=""></div>
                        <div class="goods__descr"> 
                          <p>Это яркие стильные велосипеды, которые вышли в ТОП-2022 года по продажам.</p>
                          <ul class="goods__list"> 
                            <li class="goods__list-item">Механический дисковый тормоз</li>
                            <li class="goods__list-item">Яркие цвета</li>
                            <li class="goods__list-item">21 скорость</li>
                          </ul>
                          <div class="goods__text">
                            <p>Передняя амортизационная вилка. Переключатели аналоги SHIMANO, обеспечивают точное переключение скоростей. Двойной усиленный, алюминиевый обод, подножка, тканевая защита пера, крылья. Стальная облегченная рама, изготовлена с применением технологии техноформинга. Регулируемая высота сидений, новый легкий дорожный руль, с прорезиненными ручками. Покрышки известного Тайваньского бренда. Широкие педали со светоотражающими элементами.</p>
                          </div><a class="link-arrow" href="/index.php?route=product/category&path=59">Перейти в каталог
                            <svg width="25" height="24">
                              <use href="#arrow-icn"></use>
                            </svg></a>
                        </div>
                      </div>
                      <div class="goods__pic"> <img src="img/vel3.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="categories"> 
        <div class="categories__wrapper _container"> 
            <a class="categories__link" href="">
              <h3 class="categories__title">Велосипеды горные</h3></a>
            <a class="categories__link" href="/index.php?route=product/category&path=59">
              <h3 class="categories__title">Велосипеды детские</h3></a>
            <a class="categories__link" href="/index.php?route=product/category&path=59_63">
              <h3 class="categories__title">Скейтбординг</h3></a>
            <a class="categories__link" href="/index.php?route=product/category&path=61">
              <h3 class="categories__title">Самокаты детские и трюковые</h3></a>
            <a class="categories__link" href="/index.php?route=product/category&path=60">
              <h3 class="categories__title">Перейти в каталог</h3></a>
        </div>
      </div>
	  
	  {{ footer }}